@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.glass {
	background: linear-gradient(
		to bottom right,
		rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.2)
	);
	margin-top: 5%;
	margin-bottom: 5%;
}

.glass-gradient {
	background: linear-gradient(
		to bottom right,
		rgba(255, 255, 255, 0.8),
		rgba(255, 255, 255, 0.1)
	);
}
.glass-gradient-lighter {
	background: linear-gradient(
		to bottom right,
		rgba(255, 255, 255, 0.2),
		rgba(255, 255, 255, 0.1)
	);
}
